Store Code,Business Name,Address Line 1,Address Line 2,City,State/Province,Zip/Postal Code,Country/Region,Main Phone,Website,Primary Category,Hours of Operation,Business Description,Latitude,Longitude